body {
    height: 100%;
    width: 97%;
    padding: 10px;
    margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: red;
}

a:active {
	color: green;
}

body {
	font-size: 20px;
}

.mainHeader {
	font: normal 20px, sans-serif, Arial;
	line-height: 1.5em;
}

h2 {
	text-decoration: underline;
}

.classes, .commonAreas {
    float: left;
    width: 50%;
}

.containerTwo {
    width: 100%;
    height: 400px;
}